# Dependencias
node_modules/
.pnpm-store/

# Builds
dist/
build/
.turbo/

# Entorno
.env
.env.local
**/.env
!**/.env.example

# Prisma
apps/api/prisma/migrations/dev.db*

# Supabase local
.supabase/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
*.tsbuildinfo

# Testing
coverage/
